.application {
}

.application__content {
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}

.form {
    background-color: $backgroundItems;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.form__item {
    width: 100%;
    margin: 0 auto 15px;
    position: relative;
}


.form__input {
    width: 100%;
    height: 40px;
    outline: none;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid $mainColor;
    font-size: 24px;
    color: $colorText;

    // &:valid {
    //     border-color: green;
    // }

    // &:invalid {
    //     border-color: red;
    // }

    &:required:invalid:not(:focus):not(:placeholder-shown) {
        border-color: $mainColor; 
    }
        
    &:required:invalid:focus,
    &:required:invalid:not(:placeholder-shown) {
        border-color: red; 
    }
        
    &:required:valid {
        border-color: green; 
    }
}
.form__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-transform: capitalize;
    pointer-events: none;
    transition: 0.7s;

    &--message {
        top: 10px;
        transform: translateY(0);
    }

    &.open {
        transform: translateY(-35px);
        opacity: 0.8;
    }
}
.form__input--message {
    min-height: 40px;
    max-height: 300px;
    resize: vertical;
    margin-bottom: 25px;
}
.form__rules {
    margin-bottom: 30px;
    display: flex;
    gap: 8px;

}
.real-checkbox {
}
.custom-checkbox {
}
.form__agree {
    font-size: 14px;
    line-height: 1.6;
}
.form__link-gw {
    background-color: $codeColorAvatar;
}
.form__submit {
    border-radius: 5px;
    padding: 10px 40px;
    margin: 0 auto;
    color: $colorText;
    background-color: $codeColorAvatar;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;

    &:hover {
        border-color: $codeColorAvatar;
        background-color: transparent;
    }
}


.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $mainColor;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
}

.custom-checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 16px;
    height: 16px;
    background-image: url(../img/icons/accept.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.form__input::-webkit-scrollbar {
    width: 14px;   
}            
.form__input::-webkit-scrollbar-track {
    background: $colorLink;   
}     
.form__input::-webkit-scrollbar-thumb {
    background-color: $codeColorAvatar;    
    border-radius: 15px;       
    border: 3px solid $colorLink;  
}
textarea::-webkit-resizer  {
    width: 20px;
    height: 20px;
    display: block;
    background: url(../img/icons/ugol.svg) no-repeat center;
    background-size: 90%;
}