.footer {
    &__content {
        padding: 64px 0;
        display: flex;
        gap: 64px;
        justify-content: center;
        overflow: hidden;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .logo {
        margin-bottom: 16px;
        width: 165px;
        display: inline-block;

        @media (max-width: 768px) {
            margin: 0 auto 16px;
            display: block;
        }

        &__image {
            width: 100%;
        }
    }
}
.invite {
    &__text {
        max-width: 213px;
        line-height: 1.1;
        font-size: 20px;

        @media (max-width: 768px) {
            max-width: 339px;
        }
    }
}

.contacts {
    max-width: 384px;
    margin-top: -10px;
    .context-title {
        margin-bottom: 16px;

        @media (max-width: 768px) {
            text-align: center;
            font-family: Impact;
        }
    }
}
.list-contacts-link {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 425px) {
        flex-direction: column;
    }
    &__item {
    }
}
.link-social {
    display: flex;
    gap: 16px;
    align-items: center;
    
    &__icon {
        width: 32px;
        height: 32px;
    }
    &__wrapper-text {
        font-size: 24px;
        color: $mainColor;
    }
}