.header {
    padding: 20.5px 0;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.logo {
}
.logo__image {
}
.menu {
}
.menu__list {
    display: flex;
    column-gap: 64px;
    
}
.menu__item {
}
.anchor-link {
    font-weight: 700;
    font-size: 20px;
    @include hoverColorLink($mainColor);
}