.skills {
    &__content {
        padding: 64px 0;

        .context-title {
            text-align: center;
            margin-bottom: 32px;
        }
    }
}
.list-skills {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.card-skill {
    position: relative;
    border: none;
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;

    &__front, &__back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: 0.5s;
        border-radius: 10px;

    }
    &__front {
        background-color: $backgroundItems;
        transform: perspective(1000px) rotateY(0deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        
    }

    &__back {
        transform: perspective(1000px) rotateY(180deg);
        background-color: rgba(123, 76, 198, 0.445);
        backdrop-filter: blur(5px);
        
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 95%;
        color: $colorText;
        font-size: 20px;
    }


    &__wrapper-icon {
        display: inline-block;

        &--html, &--css {
            width: 114px;
            height: 128px;
        }

        &--js, &--git, &--scss {
            width: 128px;
            height: 128px;
        }

        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__wrapper-title {
        font-size: 32px;
        color: $colorText;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__cross {
        width: 25px;
        height: 25px;
        display: inline-block;
        position: absolute;
        right: 7px;
        top: 7px;
        background-image: url(../img/icons/cross.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.7s;

        &:hover {
            transform: rotate(360deg);
            cursor: pointer;
        }
    }

    @media (max-width: 662px) {

        flex-direction: row;
        padding: 14px 36px;
        width: 285px;

        &__wrapper-icon {
            &--html, &--css {
                width: 28px;
                height: 32px;
            }
    
            &--js, &--git, &--scss {
                width: 32px;
                height: 32px;
            }
        }

        &__wrapper-title {
            font-size: 24px;
        }
    }
}

.card-skill.open {
    max-width: 400px;
    height: 300px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;

    .card-skill__front {
        transform: perspective(1000px) rotateY(-180deg);
    }

    .card-skill__back {
        transform: perspective(1000px) rotateY(0deg);
    }
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
    transition: background-color 0.7s, z-index 0.75s 0s;

    &.open {
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
        backdrop-filter: blur(5px);
    }
}