.skills {
    &__content {
        padding: 64px 0;

        .context-title {
            text-align: center;
            margin-bottom: 32px;
        }
    }
}
.list-skills {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.card-skill {
    background-color: $backgroundItems;
    border: none;
    width: 200px;
    // height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 61px 0 58px;
    gap: 16px;


    &__wrapper-icon {
        display: inline-block;

        &--html, &--css {
            width: 114px;
            height: 128px;
        }

        &--js, &--git, &--scss {
            width: 128px;
            height: 128px;
        }

        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__wrapper-title {
        font-size: 32px;
        color: $colorText;
        font-family: Arial, Helvetica, sans-serif;
    }

    @media (max-width: 662px) {

        flex-direction: row;
        padding: 14px 36px;
        width: 285px;

        &__wrapper-icon {
            // flex-shrink: 0;
            &--html, &--css {
                width: 28px;
                height: 32px;
            }
    
            &--js, &--git, &--scss {
                width: 32px;
                height: 32px;
            }
        }

        &__wrapper-title {
            font-size: 24px;
        }
    }
}